$color-background: #242424;
$color-buttonbg: #363636;
$color-formbg: #434343;
$color-navbg: #302f2f;
$color-green: #00ffc7;
$color-red:#ff003d;
$color-white: #fff;
$color-silver: #c0c0c0;
$color-gold: #fecc82;
$color-bronze: #9e6900;