.btn{
    color: $color-white;
    width: 290px;
    height: 60px;
    padding: 0.5em 1em;
    display: inline-block;
    margin: 1em;
    text-align: center;
    text-decoration: none;
    background-color: $color-buttonbg;
    font-size: 30px;
}