*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: $color-background;
    width: 414px;
    height: 763px;
    display: block;
    margin: 0 auto;
}
.parent--splash {
    display: grid;
    grid-template-columns: 15px 47px 120px 50px 120px 47px 15px;
    grid-template-rows: repeat(2, 20px) 183px 55px 50px 142px 45px 50px 45px 126px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .grid--title { 
        grid-area: 3 / 3 / 4 / 6;
        @include title;
        
    }
    .grid--logo { grid-area: 5 / 4 / 6 / 5; }
    .grid--login { grid-area: 7 / 3 / 8 / 6; }
    .grid--signup { grid-area: 9 / 3 / 10 / 6; }
