.ramm {
    @include title;
    text-align: center;
    position: relative;
    color: $color-green;
    text-shadow: 0 10px 6px rgba(9, 219, 173, 0.5);
}

.subtitle {
    @include subtitle;
    top: -40px;
    position: relative;
    text-align: right;
}

.ramm--signup{
    font-size: 42px;
}
.subtitle--signup{
    font-size: 33px;
    top: -15px;
}
.grid--mainSaldo{
    color: $color-green;
    @include LatoLight;
    font-size: 25px;
}
.saldoNumber{
    @include LatoBold;
    font-size: 30px;
}

.title{
    color:$color-green;
    @include LatoBold;
    font-size: 20px;
}
.message{
    font-size: 20px;
    @include LatoReg;
}

.message--goed{
    color: $color-green;
}
.message--error{
    color: $color-red;
}